  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Nunito:wght@300&family=Oswald:wght@300;500&family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}



html, body{
    width: 100%;
    height: 100%;
}

#page1{
    height: 100%;
    width: 100%;
}

#nav{
    
    height: 50px;
    width: 100%;
    background-color:#494949;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

#nav h5{
    color: white;
    font-size: 20px;
    font-weight: 500;
    
}
#nav i{
    color: white;
}
#nav2{
    height: 50px;
    width: 100%;
    background-color:#f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav2 a{
    color: black;
    
}

#center{
    
    height: 100%;
    width: 100%;
    background-color: black;
     background-position: center;
     background-size: auto;
     background-repeat: no-repeat;
}

#center h1{
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%, 0);
    color: white;
    font-size: 20px;
    font-weight: 100;
}
#center h2{
position: absolute;
    left: 50%;
    top: 22%;
    transform: translate(-50%, 0);
    color: white;
    font-size: 45px; 
    font-weight: 200;
}

#center img{
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, 0);
}
#center p{
      color: white;
      position: absolute;
      left: 50%;
      top: 32%;
      transform: translate(-50%, 0);
      font-size: 20px;
}

#center button{
    cursor: pointer;
    background-color:#1c54ce;
    color: white;
    padding: 5px 14px 5px 14px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 18px;
    position: absolute;
    left: 44%;
    top: 40%;
    transform: translate(-50%, 0);
}
#center a{
    cursor: pointer;
     position: absolute;
    left: 53%;
    top: 40%;
    font-size: 25px;
    color: white;
    text-decoration: none;
    transform: translate(-50%, 0);
}
#center a:hover{
    text-decoration: underline;
    color: #1c54ce;
}


/* Page222222 */

#page2{
    height: 80%;
    width: 100%;
    background-color: white;
    

    position: relative;

}

#page2 img{
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50%, 0);
}
#page2 h1{
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 700;
    font-size: 30px;
}
#page2 h2{
position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    color: black;
    font-size: 45px; 
    font-weight: 500;
}

#page2 p{
      color:black;
      position: absolute;
      left: 50%;
      top: 28%;
      transform: translate(-50%, 0);
      font-size: 20px;
}

#page2 button{
    cursor: pointer;
    background-color:#1c54ce;
    color: white;
    padding: 5px 14px 5px 14px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 18px;
    position: absolute;
    left: 44%;
    top: 36%;
    transform: translate(-50%, 0);
}
#page2 a{
    cursor: pointer;
     position: absolute;
    left: 53%;
    top: 36%;
    font-size: 25px;
    color:black;
    text-decoration: none;
    transform: translate(-50%, 0);
}
#page2 a:hover{
    text-decoration: underline;
    color: #1c54ce;
}